textarea {
    resize: none;
    width: 100%;
    border: none;
    height:min-content;
    outline: none;
}

#livePreviewText {
    font-size:16px; 
    line-height:1.6;
    font-family:Arial, sans-serif;
}

#trixEditor {
    border: none;
    outline: none;
}

#myToolbar .button_groups {
  button.code {
    display: none;
  }
  button.increase {
    display: none;
  }
  button.decrease {
    display: none;
  }

  button.bold {
    display: none;
  }
}